%form{method: "post", action: privacy_update_path}
  %table
    %caption Privacy Settings
    %thead
      %tr
        %th
        -@user.profiles.each do |profile|
          %th
            =profile.description
            =link_to "(edit)", edit_profile_path(profile)
    %tbody
      %tr
        %td{colspan: "#{@user.profiles.count + 1}"}
          Emails
      -@user.contact.emails.each do |email|
        %tr
          %th
            =email.address
            =link_to "(edit)", edit_contact_email_path(email.contact, email)
          -@user.profiles.each do |profile|
            %td
              -if profile.emails.map(&:id).include?(email.id)
                %input{type: "checkbox", checked: true, name: "profiles[#{profile.id}]emails[#{email.id}]", value: "true"}
              -else
                %input{type: "checkbox", checked: false, name: "profiles[#{profile.id}]emails[#{email.id}]", value: "true"}
    %tfoot
      %tr
        %td{colspan: "#{@user.profiles.count + 1}"}
          %input{type: "submit", value: "Save changes"}
