%div 
  Names
  %p
    Name: #{@contact.first_name} #{@contact.last_name}
%div 
  Emails
  -@contact.emails.each do |email|
    %p
      email: #{email.address}
      description: #{email.description}

= link_to 'Edit', edit_contact_path(@contact)
\|
= link_to 'Back', contacts_path
