%div{class: "address"}
  -if address.street
    =address.street
    %br
  -if address.extended
    =address.extended
    %br

  -if address.city && address.state && address.zipcode
    #{address.city}, #{address.state}, #{address.zipcode}
    %br
  -elsif address.city && address.state
    #{address.city}, #{address.state}
    %br
  -elsif address.city && address.zipcode
    #{address.city}, #{address.zipcode}
    %br
  -elsif address.state && address.zipcode
    #{address.state}, #{address.zipcode}
    %br
  -elsif address.city
    =address.city
    %br
  -elsif address.state
    address.state
    %br
  -elsif address.zipcode
    =address.zipcode
    %br

  -if address.country
    =address.country
  =link_to 'Edit', edit_contact_address_path(address.contact, address)
  %form{method: "post", action: contact_address_path(address.contact, address)}
    %input{type: "hidden", name: "_method", value: "delete"}
    %input{type: "submit", value: "Delete"}
