!!!
%html
  %head
    %title Mwanga - #{@page_title || "An Enlightened Addressbook"}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield
